<div class="row">
    <div class="col-md-4">
        <h4>{{isEditing?'Edit':''}}{{isAdding?'Add':''}} Migration{{isEditing||isAdding?'':'s'}}</h4>
    </div>
    <div class="col-md-4 v-center">
        <div *ngIf="isEditing || isShowHistory" class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width': getProgressValue()}" aria-valuenow="0"
                aria-valuemin="0" aria-valuemax="100">{{currentRunPercentage}}%</div>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <div class="d-inline" *ngIf="isEditing && !!migration && !!migration.state">
            <button *ngIf="showByState('NOT_STARTED')" class="btn btn-primary pad-right"
                (click)="startMigration(migration)">Run</button>
            <button *ngIf="showByState('RUNNING')" class="btn btn-secondary pad-right"
                (click)="stopMigration(migration)">Stop</button>
            <button *ngIf="showByState('ERROR')" class="btn btn-danger pad-right"
                (click)="startMigration(migration)">Rerun</button>
            <button *ngIf="showByState('SUCCESS')" class="btn btn-success pad-right"
                (click)="startMigration(migration)">Rerun</button>
            <button *ngIf="!isShowHistory" class="btn btn-secondary pad-right" (click)="showHistory(migration)">Run
                History</button>
        </div>
        <div class="d-inline" *ngIf=" !isWorkloadSelect && !isVolumeSelect && !isTargetCloudSelect && !isShowHistory">
            <button *ngIf="isEditing || isAdding" class="btn btn-warning" (click)="goBack()">Back</button>
            <button *ngIf="!isEditing && !isAdding" class="btn btn-success" (click)="add()">New</button>
        </div>
        <div class="d-inline">
            <button *ngIf="isWorkloadSelect" class="btn btn-warning" (click)="isWorkloadSelect = false">Back</button>
            <button *ngIf="isVolumeSelect" class="btn btn-warning" (click)="isVolumeSelect = false">Back</button>
            <button *ngIf="isTargetCloudSelect" class="btn btn-warning"
                (click)="isTargetCloudSelect = false">Back</button>
            <button *ngIf="isShowHistory" class="btn btn-warning" (click)="isShowHistory = false">Back</button>
        </div>
    </div>
</div>

<br>
<!-- list -->
<div class="app-body" *ngIf="!isEditing && !isAdding && !isShowHistory">
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Volumes</th>
            <th>Workload IP</th>
            <th>Workload Volumes</th>
            <th>Target Cloud IP</th>
            <th>Target Cloud Volumes</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
            <tr *ngFor="let m of migrations">
                <td class="entity-row" (click)="edit(m)">{{getVolumes(m.volume)}}</td>
                <td class="entity-row" (click)="edit(m)">{{m.workload.ip}}</td>
                <td class="entity-row" (click)="edit(m)">{{getVolumes(m.workload.volume)}}</td>
                <td class="entity-row" (click)="edit(m)">{{m.targetCloud.workload.ip}}</td>
                <td class="entity-row" (click)="edit(m)">{{getVolumes(m.targetCloud.workload.volume)}}</td>
                <td *ngIf="!!m.state && m.state === 'NOT_STARTED'"><button class="btn btn-primary full-width"
                        (click)="startMigration(m)">Run</button></td>
                <td *ngIf="!!m.state && m.state === 'RUNNING'"><button class="btn btn-secondary full-width"
                        (click)="stopMigration(m)">Stop</button></td>
                <td *ngIf="!!m.state && m.state === 'ERROR'"><button class="btn btn-danger full-width"
                        (click)="showHistory(m)">Error</button></td>
                <td *ngIf="!!m.state && m.state === 'SUCCESS'"><button class="btn btn-success full-width"
                        (click)="showHistory(m)">Success</button></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- adding or editing -->
<div class="app-body col-md-12" 
    *ngIf="(isEditing || isAdding) && !isVolumeSelect && !isWorkloadSelect && !isTargetCloudSelect && !isShowHistory">
    <form>
        <div class="form-group">
            <h5 for="username">Volumes to Migrate {{showByState('RUNNING') ? '[Locked]': ''}}</h5>
            <table class="table table-hover" (click)="showByState('RUNNING') ? null : doVolumeSelect()">
                <thead class="thead-dark entity-row">
                    <th>Mount Point</th>
                    <th>Size</th>
                </thead>
                <tbody>
                    <tr *ngFor="let v of migration.volume">
                        <td class="entity-row">{{v.mountPoint}}</td>
                        <td class="entity-row">{{v.size}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <h5 for="password">Workload {{showByState('RUNNING') ? '[Locked]': ''}}</h5>
            <table class="table table-hover entity-row" (click)="showByState('RUNNING') ? null: doWorkloadSelect()">
                <thead class="thead-dark">
                    <th>Owner</th>
                    <th>IP</th>
                    <th>Volumes</th>
                </thead>
                <tbody>
                    <tr *ngIf="!!migration.workload">
                        <td class="entity-row">{{migration.workload.credential.username}}</td>
                        <td class="entity-row">{{migration.workload.ip}}</td>
                        <td class="entity-row">{{getVolumes(migration.workload.volume)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <h5 for="domain">Target Cloud {{showByState('RUNNING') ? '[Locked]': ''}}</h5>
            <table class="table table-hover entity-row" (click)="showByState('RUNNING') ? null: doTargetCloudSelect()">
                <thead class="thead-dark">
                    <th>Owner</th>
                    <th>Cloud Type</th>
                    <th>Workload Owner</th>
                    <th>Workload IP</th>
                    <th>Workload Volumes</th>
                </thead>
                <tbody>
                    <tr *ngIf="!!migration.targetCloud">
                        <td class="entity-row">{{migration.targetCloud.credential.username}}</td>
                        <td class="entity-row">{{migration.targetCloud.cloudType}}</td>
                        <td class="entity-row">{{migration.targetCloud.workload.credential.username}}</td>
                        <td class="entity-row">{{migration.targetCloud.workload.ip}}</td>
                        <td class="entity-row">{{getVolumes(migration.targetCloud.workload.volume)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="form-group">
            <h5 for="domain">State</h5>
            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="migration.state">
                <option *ngFor="let type of migrationStateOptions" [value]="type">{{type}}</option>
            </select>
        </div> -->
    </form>
</div>
<!-- volume select -->
<div class="app-body" *ngIf="isVolumeSelect">
    <h5>Select New Volumes...</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Mount Point</th>
            <th>Size</th>
        </thead>
        <tbody>
            <tr *ngFor="let v of volumesList; let i = index" (click)="selectNewVolume(v)">
                <td class="entity-row">{{v.mountPoint}}</td>
                <td class="entity-row">{{v.size}}</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <h5>Selected Volumes</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Mount Point</th>
            <th>Size</th>
        </thead>
        <tbody>
            <tr *ngFor="let v of selectedVolumes; let i = index" (click)=deselectVolume(v)>
                <td class="entity-row">{{v.mountPoint}}</td>
                <td class="entity-row">{{v.size}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- workload select -->
<div class="app-body" *ngIf="isWorkloadSelect">
    <h5>Select New Workload...</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Owner</th>
            <th>IP</th>
            <th>Volumes</th>
        </thead>
        <tbody>
            <tr *ngFor="let w of workloads" (click)="selectNewWorkload(w)">
                <td class="entity-row">{{w.credential.username}}</td>
                <td class="entity-row">{{w.ip}}</td>
                <td class="entity-row">{{getVolumes(w.volume)}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- target cloud select -->
<div class="app-body" *ngIf="isTargetCloudSelect">
    <h5>Select New Target Cloud...</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Owner</th>
            <th>Cloud Type</th>
            <th>Workload IP</th>
        </thead>
        <tbody>
            <tr *ngFor="let tc of targetClouds" (click)="selectNewTargetCloud(tc)">
                <td class="entity-row">{{tc.credential.username}}</td>
                <td class="entity-row">{{tc.cloudType}}</td>
                <td class="entity-row">{{tc.workload.ip}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- migration history -->
<div class="app-body" *ngIf="isShowHistory">
    <h5>Run History</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Start</th>
            <th>End</th>
            <th>Message</th>
        </thead>
        <tbody>
            <tr *ngFor="let m of migrationHistory">
                <td class="entity-row">{{m.start | date:'medium'}}</td>
                <td class="entity-row">{{m.end | date:'medium'}}</td>
                <td class="entity-row">{{m.message}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<!-- tools -->
<div class="row" *ngIf="isAdding || isEditing">
    <div class="col-md-9">
        &nbsp;
    </div>
    <div class="col-md-3 text-right">
        <div *ngIf="!isVolumeSelect && !isWorkloadSelect && !isTargetCloudSelect && !isShowHistory">
            <button *ngIf="isAdding" class="btn btn-success" (click)="save()" [disabled]="showByState('RUNNING')">Save</button>&nbsp;
            <button *ngIf="isEditing" class="btn btn-success" (click)="update()" [disabled]="showByState('RUNNING')">Update</button>&nbsp;
            <button *ngIf="isEditing" class="btn btn-danger" (click)="delete()" [disabled]="showByState('RUNNING')">Delete</button>
        </div>
        <button *ngIf="isVolumeSelect" class="btn btn-success" (click)="applyNewVolumes()" [disabled]="showByState('RUNNING')">Apply</button>
    </div>
</div>