<div class="row">
    <div class="col-md-6">
        <h4>{{isEditing?'Edit':''}}{{isAdding?'Add':''}} Volume{{isEditing||isAdding?'':'s'}}</h4>
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-3 text-right">
        <button *ngIf="isEditing || isAdding" class="btn btn-warning"
            (click)="goBack()">Back</button>
        <button *ngIf="!isEditing && !isAdding" class="btn btn-success" (click)="add()">New</button>
    </div>
</div>

<br>

<div class="app-body" *ngIf="!isEditing && !isAdding">
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Mount Point</th>
            <th>Size</th>
        </thead>
        <tbody>
            <tr *ngFor="let v of volumes" (click)="edit(v)">
                <td class="entity-row">{{v.mountPoint}}</td>
                <td class="entity-row">{{v.size}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="app-body col-md-12" *ngIf="isEditing || isAdding">
    <form>
        <div class="form-group">
            <h5 for="mountPoint">Mount Point</h5>
            <input type="text" class="form-control" id="mountPoint" placeholder="Mount Point" [ngModelOptions]="{standalone: true}" [(ngModel)]="volume.mountPoint">
        </div>
        <div class="form-group">
            <h5 for="size">Size</h5>
            <input type="number" class="form-control" id="size" placeholder="Size" [ngModelOptions]="{standalone: true}" [(ngModel)]="volume.size">
        </div>
    </form>
</div>
<br>
<div class="row" *ngIf="isAdding || isEditing">
    <div class="col-md-9">
        &nbsp;
    </div>
    <div class="col-md-3 text-right">
        <button *ngIf="isAdding" class="btn btn-success" (click)="save()">Save</button>&nbsp;
        <button *ngIf="isEditing" class="btn btn-success" (click)="update()">Update</button>&nbsp;
        <button *ngIf="isEditing" class="btn btn-danger" (click)="delete()">Delete</button>
    </div>
</div>