<div class="row">
    <div class="col-md-6">
        <h4>{{isEditing?'Edit':''}}{{isAdding?'Add':''}} Workload{{isEditing||isAdding?'':'s'}}</h4>
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-3 text-right">
        <div *ngIf="!isOwnerSelect && !isVolumeSelect">
            <button *ngIf="isEditing || isAdding" class="btn btn-warning" (click)="goBack()">Back</button>
            <button *ngIf="!isEditing && !isAdding" class="btn btn-success" (click)="add()">New</button>
        </div>
        <button *ngIf="isOwnerSelect" class="btn btn-warning" (click)="isOwnerSelect = false">Back</button>
        <button *ngIf="isVolumeSelect" class="btn btn-warning" (click)="isVolumeSelect = false">Back</button>
    </div>
</div>

<br>
<!-- list -->
<div class="app-body" *ngIf="!isEditing && !isAdding">
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Owner</th>
            <th>IP</th>
            <th>Volumes</th>
        </thead>
        <tbody>
            <tr *ngFor="let w of workloads" (click)="edit(w)">
                <td class="entity-row">{{w.credential.username}}</td>
                <td class="entity-row">{{w.ip}}</td>
                <td class="entity-row">{{getVolumes(w)}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- adding or editing -->
<div class="app-body col-md-12" *ngIf="(isEditing || isAdding) && !isOwnerSelect && !isVolumeSelect">
    <form>
        <div class="form-group">
            <h5>Owner</h5>
            <table class="table table-hover" (click)="doOwnerSelect()">
                <thead class="thead-dark entity-row">
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Domain</th>
                </thead>
                <tbody>
                    <tr *ngIf="!!workload.credential">
                        <td class="entity-row">{{workload.credential.username}}</td>
                        <td class="entity-row">{{!!workload.credential.password?'*****':''}}</td>
                        <td class="entity-row">{{workload.credential.domain}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <h5>IP</h5>
            <input [disabled]="isEditing" type="text" class="form-control" id="username" placeholder="IP"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="workload.ip">
        </div>
        <div class="form-group">
            <h5>Volumes</h5>
            <table class="table table-hover" (click)="doVolumeSelect()">
                <thead class="thead-dark entity-row">
                    <th>Mount Point</th>
                    <th>Size</th>
                </thead>
                <tbody>
                    <tr *ngFor="let v of workload.volume">
                        <td class="entity-row">{{v.mountPoint}}</td>
                        <td class="entity-row">{{v.size}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>
</div>
<!-- owner select -->
<div class="app-body" *ngIf="isOwnerSelect">
    <h5>Select New Owner...</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>UserName</th>
            <th>Password</th>
            <th>Domain</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of credentials" (click)="selectNewCredential(c)">
                <td class="entity-row">{{c.username}}</td>
                <td class="entity-row">*****</td>
                <td class="entity-row">{{c.domain}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- volume select -->
<div class="app-body" *ngIf="isVolumeSelect">
    <h5>Select New Volumes...</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Mount Point</th>
            <th>Size</th>
        </thead>
        <tbody>
            <tr *ngFor="let v of volumes; let i = index" (click)="selectNewVolume(v)">
                <td class="entity-row">{{v.mountPoint}}</td>
                <td class="entity-row">{{v.size}}</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <h5>Selected Volumes</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Mount Point</th>
            <th>Size</th>
        </thead>
        <tbody>
            <tr *ngFor="let v of selectedVolumes; let i = index" (click)=deselectVolume(v)>
                <td class="entity-row">{{v.mountPoint}}</td>
                <td class="entity-row">{{v.size}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<!-- tools -->
<div class="row" *ngIf="isAdding || isEditing || isOwnerSelect">
    <div class="col-md-9">
        &nbsp;
    </div>
    <div class="col-md-3 text-right">
        <div *ngIf="!isOwnerSelect && !isVolumeSelect">
            <button *ngIf="isAdding" class="btn btn-success" (click)="save()">Save</button>&nbsp;
            <button *ngIf="isEditing" class="btn btn-success" (click)="update()">Update</button>&nbsp;
            <button *ngIf="isEditing" class="btn btn-danger" (click)="delete()">Delete</button>
        </div>
        <button *ngIf="isVolumeSelect" class="btn btn-success" (click)="applyNewVolumes()">Apply</button>

    </div>
</div>