<div class="row">
    <div class="col-md-6">
        <h4>{{isEditing?'Edit':''}}{{isAdding?'Add':''}} Target Cloud{{isEditing||isAdding?'':'s'}}</h4>
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-3 text-right">
        <div *ngIf="!isOwnerSelect && !isWorkloadSelect">
            <button *ngIf="isEditing || isAdding" class="btn btn-warning" (click)="goBack()">Back</button>
            <button *ngIf="!isEditing && !isAdding" class="btn btn-success" (click)="add()">New</button>
        </div>
        <button *ngIf="isOwnerSelect" class="btn btn-warning" (click)="isOwnerSelect = false">Back</button>
        <button *ngIf="isWorkloadSelect" class="btn btn-warning" (click)="isWorkloadSelect = false">Back</button>
    </div>
</div>

<br>

<div class="app-body" *ngIf="!isEditing && !isAdding">
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Owner</th>
            <th>Cloud Type</th>
            <th>Workload IP</th>
        </thead>
        <tbody>
            <tr *ngFor="let tc of targetClouds" (click)="edit(tc)">
                <td class="entity-row">{{tc.credential.username}}</td>
                <td class="entity-row">{{tc.cloudType}}</td>
                <td class="entity-row">{{tc.workload.ip}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- adding or isEditing -->
<div class="app-body col-md-12" *ngIf="(isEditing || isAdding) && !isOwnerSelect && !isWorkloadSelect">
    <form>
        <div class="form-group">
            <h5>Owner</h5>
            <table class="table table-hover entity-row"  (click)="doOwnerSelect()">
                <thead class="thead-dark">
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Domain</th>
                </thead>
                <tbody>
                    <tr *ngIf="!!targetCloud.credential">
                        <td class="entity-row">{{targetCloud.credential.username}}</td>
                        <td class="entity-row">*****</td>
                        <td class="entity-row">{{targetCloud.credential.domain}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <h5>Cloud Type</h5>
            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="targetCloud.cloudType">
                <option *ngFor="let type of cloudTypeOptions" [value]="type">{{type}}</option>
            </select>
        </div>
        <div class="form-group">
            <h5 for="cloudType">Workload</h5>
            <table class="table table-hover entity-row" (click)="doWorkloadSelect()">
                <thead class="thead-dark">
                    <th>Owner</th>
                    <th>IP</th>
                    <th>Volumes</th>
                </thead>
                <tbody>
                    <tr *ngIf="!!targetCloud.workload" >
                        <td class="entity-row">{{targetCloud.workload.credential.username}}</td>
                        <td class="entity-row">{{targetCloud.workload.ip}}</td>
                        <td class="entity-row">{{getVolumes(targetCloud.workload)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<!-- owner select -->
<div class="app-body" *ngIf="isOwnerSelect">
    <h5>Select New Owner...</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>UserName</th>
            <th>Password</th>
            <th>Domain</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of credentials" (click)="selectNewCredential(c)">
                <td class="entity-row">{{c.username}}</td>
                <td class="entity-row">*****</td>
                <td class="entity-row">{{c.domain}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- workload select -->
<div class="app-body" *ngIf="isWorkloadSelect">
    <h5>Select New Workload...</h5>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>Owner</th>
            <th>IP</th>
            <th>Volumes</th>
        </thead>
        <tbody>
            <tr *ngFor="let w of workloads" (click)="selectNewWorkload(w)">
                <td class="entity-row">{{w.credential.username}}</td>
                <td class="entity-row">{{w.ip}}</td>
                <td class="entity-row">{{getVolumes(w)}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- tools -->
<div class="row" *ngIf="isAdding || isEditing">
    <div class="col-md-9">
        &nbsp;
    </div>
    <div class="col-md-3 text-right" *ngIf="!isOwnerSelect && !isWorkloadSelect">
        <button *ngIf="isAdding" class="btn btn-success" (click)="save()">Save</button>&nbsp;
        <button *ngIf="isEditing" class="btn btn-success" (click)="update()">Update</button>&nbsp;
        <button *ngIf="isEditing" class="btn btn-danger" (click)="delete()">Delete</button>
    </div>
</div>