<div class="container">
  <h1>Migration Tool</h1>
  
  <div class="card">
    <div class="card-header">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/credentials" routerLinkActive="active-link">Credentials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/volumes" routerLinkActive="active-link">Volumes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/workloads" routerLinkActive="active-link">Workloads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/target-clouds" routerLinkActive="active-link">Target Clouds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/migrations" routerLinkActive="active-link">Migrations</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>