<div class="row">
    <div class="col-md-6">
        <h4>{{isEditing?'Edit':''}}{{isAdding?'Add':''}} Credential{{isEditing||isAdding?'':'s'}}</h4>
    </div>
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-3 text-right">
        <button *ngIf="isEditing || isAdding" class="btn btn-warning"
            (click)="goBack()">Back</button>
        <button *ngIf="!isEditing && !isAdding" class="btn btn-success" (click)="add()">New</button>
    </div>
</div>

<br>

<div class="app-body" *ngIf="!isEditing && !isAdding">
    <table class="table table-hover">
        <thead class="thead-dark">
            <th>UserName</th>
            <th>Password</th>
            <th>Domain</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of credentials" (click)="edit(c)">
                <td class="entity-row">{{c.username}}</td>
                <td class="entity-row">*****</td>
                <td class="entity-row">{{c.domain}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="app-body col-md-12" *ngIf="isEditing || isAdding">
    <form>
        <div class="form-group">
            <h5 for="username">UserName</h5>
            <input type="text" class="form-control" id="username" placeholder="UserName" [ngModelOptions]="{standalone: true}" [(ngModel)]="credential.username">
        </div>
        <div class="form-group">
            <h5 for="password">Password</h5>
            <input type="text" class="form-control" id="password" placeholder="Password" [ngModelOptions]="{standalone: true}" [(ngModel)]="credential.password">
        </div>
        <div class="form-group">
            <h5 for="domain">Domain</h5>
            <input type="text" class="form-control" id="domain" placeholder="Domain" [ngModelOptions]="{standalone: true}" [(ngModel)]="credential.domain">
        </div>
    </form>
</div>
<br>
<div class="row" *ngIf="isAdding || isEditing">
    <div class="col-md-9">
        &nbsp;
    </div>
    <div class="col-md-3 text-right">
        <button *ngIf="isAdding" class="btn btn-success" (click)="save()">Save</button>&nbsp;
        <button *ngIf="isEditing" class="btn btn-success" (click)="update()">Update</button>&nbsp;
        <button *ngIf="isEditing" class="btn btn-danger" (click)="delete()">Delete</button>
    </div>
</div>